extends /index.pug

block container
  mj-section(background-color='#fafafa')
    mj-column(width='400')
      mj-text(mj-class='h1') {{forgotten password | t}}
      mj-text
        | {{forgotten password help | t}}
      mj-button(mj-class='primary' href=url) {{reset password | t}}
